@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    transform-origin: center;
    animation: spin 1s linear infinite;
}

.loading-spinner-size {
    width: 100px;
    height: 100px;
}