* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.card {
    border: solid 1px rgba(0,0,0,.3);
    cursor: pointer;
}

.p-5rem {
    padding: 0.5rem;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.fs-18 {
    font-size: 18px;
}

form {
    position: relative;
}

form::before {
    position: absolute;
        content: '';
        background-image: url('/github-mark.svg');
    background-size: contain;
    background-repeat: no-repeat;
        display: grid;
        width: 100px;
        height: 100px;
    left: calc(50% - 55px);
    top: -110px;

}