* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.card {
    border: solid 1px rgba(0,0,0,.3);
    cursor: pointer;
}

.p-5rem {
    padding: 0.5rem;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-2rem {
    margin-top: 2rem;
}


.mb-5 {
    margin-bottom: 5px;
}

.fs-18 {
    font-size: 18px;
}

form {
    position: relative;
}

form::before {
    position: absolute;
        content: '';
        background-image: url('/github-mark.svg');
    background-size: contain;
    background-repeat: no-repeat;
        display: grid;
        width: 100px;
        height: 100px;
    left: calc(50% - 55px);
    top: -110px;

}

.error {
    padding: 0.5rem;
    background-color: #ffc4c4;
    color: darkred;
    border: darkred solid 1px;
    max-width: 400px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.home-icon {
    width: 40px;
    height: 40px;
}

input::placeholder {
    font-size: 17px;
}

.back-button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #24292f;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}